<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.example.hyperlocal">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_hyperlocal"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_hyperlocal_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".intro.LoginActivity"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
                  android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name=".MainActivity"
                android:label="@string/title_activity_navigation_drawer"
                android:parentActivityName=".intro.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <!--
        <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.example.hyperlocal.intro.LoginActivity"/>
        -->
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="8f01b9cf8449ea2ff7e651bc19feceb0b7d0fdc4" />

        <activity android:name=".ProductActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".navigationactivity.ManagePermissionActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".navigationactivity.AddCategoryActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".navigationactivity.AddSubCategoryActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".navigationactivity.AddProductActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".navigationactivity.AddStoreActivity"
                  android:screenOrientation="portrait"/>

    </application>

</manifest>